body{
    padding-top: 150px !important;
}

#header-section{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.signin-btn,.signup-btn{
    outline:1px solid #4AA9F3;
    color: #4AA9F3;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 134.52%;
    padding:10px 30px !important;
    margin-left: 10px;
    text-align: center;
}
.signin-btn:hover,.signup-btn:hover{
    background: #4AA9F3;
    color: #FFFFFF;
}
#hero-h2{
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    line-height: 111.52%;
    color: #000000;
}
#hero-p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: #858585;
}
#app-preview-section{
    background: #FBFBFB;
    border-radius: 80px;
}
.single-scroll{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    padding:10px 0px;
}
.single-scroll h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}
.single-scroll h5:hover{
    color: #4AA9F3;
}

.single-scroll p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #858585;
}
#tick{
    width: 27px;
    height: 27px;
    margin:10px;
    margin-left:0;
    display: inline-block;

    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.08);
}
#scrollable-content {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

#scrollable-content::-webkit-scrollbar {
    width: 10px;
}

#scrollable-content::-webkit-scrollbar-track {
    background: #E7E8EA;
    border-radius: 10px;
    box-shadow: inset 0 0 5px #BEC0C2;
}

#scrollable-content::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

#get-more-section #hero-p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #858585;
}

#get-more-section #hero-h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 111.52%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#app-preview-section2 #hero-h2{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 111.52%;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#three-inner{
    background: #012139;;
    border-radius: 80px;
    color: #fff;
}


/* Callaps Css here */


.accordion-item {
    border: none;

}

.accordion-button {
    background-color: #f2F2F2;
    border: none;
    padding: 20px 50px;
    margin:15px 0;
    background: #FFFFFF;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.accordion-button:not(.collapsed) {
    color: #4AA9F3;
    font-weight: bold;
    background: #FFFFFF;
    box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.accordion-button:focus .accordion-item{
    border: 1px solid #C8CBCE;
}

.accordion-button:focus {
    border-color: none;
    outline: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/active.png");
    transform: rotate(0deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../images/unactive.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;

}
#callaps-inner{
    background: linear-gradient(180deg, #F9F9F9 0%, rgba(249, 249, 249, 0) 100%);
    border-radius: 50px;
}
#capples-section .text-dark{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 111.52%;
    text-align: center;
    color: #000000;
}


/* Footer Design */

#footer{
    background: #012139;
    color: #FFFFFF;
}
#footer a{
    display: block;
    color: #FFFFFF;
}
